body {
  font-family: 'Poppins', sans-serif; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Poppins', sans-serif;
  font-weight: 700; }

.navbar-brand {
  font-weight: 700;
  font-size: 2rem; }

header.masthead {
  position: relative;
  background-color: #343a40;
  background: url("../img/background1920.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-top: 8rem;
  padding-bottom: 8rem; }
  header.masthead .overlay {
    position: absolute;
    background-color: #000;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0.5; }
  header.masthead h1 {
    font-size: 2rem; }
  header.masthead h4 {
    font-size: 1.1rem; }
  header.masthead form button {
    background-color: #eb5757;
    border-color: #eb5757; }
    header.masthead form button:hover {
      background-color: #E27B58;
      border-color: #E27B58; }
  @media (min-width: 768px) {
    header.masthead {
      padding-top: 12rem;
      padding-bottom: 12rem; }
      header.masthead h1 {
        font-size: 3rem; } }

.cards {
  padding-top: 7rem;
  padding-bottom: 7rem; }
  .cards-item {
    max-width: 20rem; }
  .cards-curiosity {
    height: 28rem;
    background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5)), url(../img/curiosity.jpg);
    background-size: cover;
    background-position: center;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.25);
    position: relative;
    border-radius: 3px; }
    .cards-curiosity-title {
      color: #fff;
      font-size: 2.5rem;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center; }
  .cards-opportunity {
    height: 28rem;
    background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5)), url(../img/opportunity.jpg);
    background-size: cover;
    background-position: center;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.25);
    position: relative;
    border-radius: 3px; }
    .cards-opportunity-title {
      color: #fff;
      font-size: 2.5rem;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center; }
  .cards-spirit {
    height: 28rem;
    background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5)), url(../img/spirit.jpg);
    background-size: cover;
    background-position: center;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.25);
    position: relative;
    border-radius: 3px; }
    .cards-spirit-title {
      color: #fff;
      font-size: 2.5rem;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center; }

footer.footer {
  padding-top: 4rem;
  padding-bottom: 4rem;
  color: #FFFFFF; }
  footer.footer li > a {
    color: #eb5757; }
