.showcase {
      .showcase-text {
      padding: 3rem;
      
      h2 {
          font-size: 4rem;
          margin-bottom: 1rem;
      }
      .photo__details-list {
        list-style: none;
        margin: 0;
        padding: 0;
        .photo__item {
          @include secondary-font;
          display: flex;
          margin-bottom: 2rem;          
          font-weight: 600;
          font-size: 1.2rem;
          .rover__name {
            flex: 0 0 auto;
            margin-right: .5rem;
          }
        }
      }
    }
    .showcase-img {
        padding: 3rem;
    }

    

    
    @media (min-width: 768px) {
      .showcase-text {
        padding: 7rem;
      }
    }
  }
  