//All the variables and mixins 
@import "variables.scss";
@import "mixins.scss";

//global css
@import "globals.scss";

//rest of the components
@import "nav.scss";
@import "masthead.scss";
@import "cards.scss";
@import "footer.scss";
